body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 7, 51); 
}

.view {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    color: white;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
}

.container {
    display: flex ;
    flex-direction: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
    color: black;
    border: 1px solid #ccc;
    margin: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width:500px){
    .container {
        flex-direction: column;
        align-items: center;
    }
}

/* .wrapper {
    flex: 1 0 250px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    color: black;
    background-color: antiquewhite;
    box-sizing: border-box;
}   */

.wrapper .movie-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.wrapper .movie-card .content {
    padding: 10px;
}

.wrapper .movie-card .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.wrapper .movie-card .rating .wrapper .movie-card .date {
    margin-bottom: 5px;
}

